<h1>Application in a Nutshell</h1>
<p>This is a Node/Express js Application for showcasing ideas and adding video related courses for future videos
</p>
<P>Version: 1.0.0</P>
<p>Developed by Santosh goteti</p>